li,
main,
aside {
  container-type: inline-size;
}

main {
  container-name: main;
}

ul {
  display: grid;
  gap: 1rlh;
  padding-block: 1rlh;
  container-type: inline-size;

  @container (min-width: 700px) {
    grid-template-columns: 1fr 1fr;

    li:first-child {
      grid-column: span 2;
    }
  }
  /* Tilføj container regel, når width > 700px */
  /* - Indstil 2 kolonner */
  /* - Sæt det første barn til `grid-column: span 2` */
}

article {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;
  background: #cceeff;
  border: 1px solid #99ddff;
  font-size: clamp(1rem, 3cqw, 1.25rem);
  container-type: inline-size;

  @container (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }

  aside & {
    background: #ffdbff;
    border: 1px solid #cc66ff;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.4lh;
  }

  p + p {
    margin-top: 0.4lh;
  }

  /* Tilføj container regel når width > 500px */
  /* - Indstil 2 kolonner */
  /* - Sæt `order: 1;` på img på hvert andet card */
}

li:nth-child(even) article {
  @container (min-width: 500px) {
    img {
      order: 2;
    }

    .content {
      order: 1;
    }
  }
}

/* Læg mærke til, at vi bør stadig bruge @media, når det handler om viewporten */
.content-wrapper {
  @media (width > 700px) {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 1rlh;
  }
}
